{% extends 'Dashboard/dashboard-base.html' %}

{% block main-content %}
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add program</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="programs.html">program</a></li>
                        <li class="breadcrumb-item active">Add program</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'dashboard:add-program' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>program Information</span></h5>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label class="col-form-label col-md-2">Session</label>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <select class="form-control" name="session">
                                                <option>-- Select --</option>
                                                {% for session in sessions %}
                                                    <option value="{{ session.pk }}">{{ session }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label class="col-form-label col-md-2">Department</label>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <select class="form-control" name="department">

                                                <option>-- Select --</option>
                                                {% for department in departments %}
                                                    <option value="{{ department.department_code }}">{{ department.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>program ID</label>
                                        <input class="form-control" type="text" name="program-code">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>program Name</label>
                                        <input class="form-control" type="text" name="program-name">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock main-content %}