Django==5.0.3
djangorestframework==3.14.0
Pillow==10.1.0

# Required to keep the secret key, database info and more secret.
python-decouple==3.8

# Required for postgres.
psycopg2-binary==2.9.9

# Required for shell
ipdb==0.13.13
ipython==8.18.1

# Required for testing and creating fake data.
# Faker is needed to create dummy names, address, and such.
# Requests to fetch fake profile pictures.
Faker==20.1.0
requests==2.31.0
